<!DOCTYPE HTML>
<!--
	Autonomy by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Autonomy by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="../../core/static/core/js/skel.min.js"></script>
		<script src="../../core/static/core/js/skel-panels.min.js"></script>
		<script src="../../core/static/core/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="../../core/static/core/css/skel-noscript.css" />
			<link rel="stylesheet" href="../../core/static/core/css/home.css" />
			<link rel="stylesheet" href="../../core/static/core/css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header -->
		<div id="header">
			<div class="container">

				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">이것좀먹어줘</a></h1>
				</div>

				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active"><a href="index.html">홈페이지</a></li>
						<li><a href="twocolumn1.html">식자재 관리</a></li>
						<li><a href="twocolumn2.html">추천 레시피</a></li>
						<li><a href="onecolumn.html">나의 레시피</a></li>
					</ul>
				</nav>

			</div>
		</div>

		<div id="banner">&nbsp;</div>

		<div id="featured">
			<div class="container">
				<div class="row">

					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="../../core/static/core/img/pics02.jpg" alt=""></a>
							<header>
								<h2>상추<br>3일 남음</h2>
							</header>
							<p>
								보관위치 : 냉장고<br>
								구입일자 : 2020-05-02<br>
								유통기한 : 2020-05-05
							</p>					
						</section>
					</div>

					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="../../core/static/core/img/pics03.jpg" alt=""></a>
							<header>
								<h2>삼겹살<br>5일 남음</h2>
							</header>
							<p>
								보관위치 : 냉동고<br>
								구입일자 : 2020-05-02<br>
								유통기한 : 2020-05-07
							</p>				
						</section>
					</div>

					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="../../core/static/core/img/pics04.jpg" alt=""></a>
							<header>
								<h2>마늘<br>5일 남음</h2>
							</header>
							<p>
								보관위치 : 냉장고<br>
								구입일자 : 2020-05-03<br>
								유통기한 : 2020-05-08
							</p>				
						</section>
					</div>

					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="../../core/static/core/img/pics05.jpg" alt=""></a>
							<header>
								<h2>진라면 매운맛<br>184일 남음</h2>
							</header>
							<p>
								보관위치 : 주방 선반<br>
								구입일자 : 2020-05-02<br>
								유통기한 : 2020-11-02
							</p>				
						</section>
					</div>

				</div>
			</div>
		</div>
		<div id="marketing">
			<div class="container">
				<div class="row">
					<div class="3u">
						<section>
							<header>
								<h2>이주의 레시피</h2>
							</header>
							<ul class="style1">
								<li class="first"><img src="../../core/static/core/img/pics06.jpg" width="80" height="80" alt="">
									<p>편스토랑 이정현 오이소박이/간편 오이소박이 만드는 법 </p>
								</li>
								<li><img src="../../core/static/core/img/pics07.jpg" width="80" height="80" alt="">
									<p>일상 복귀, 간편식 저녁 밥상 (시간 단축 포인트 제시) </p>
								</li>
								<li><img src="../../core/static/core/img/pics08.jpg" width="80" height="80" alt="">
									<p>[자취생 레시피] 간단한 재료로 만드는 팟타이! </p>
								</li>
							</ul>
						</section>
					</div>
					<div class="3u">
						<section>
							<header>
								<h2>추천 레시피</h2>
							</header>
							<ul class="style1">
								<li class="first"><img src="../../core/static/core/img/pics09.jpg" width="80" height="80" alt="">
									<p>오늘 저녁 뭐먹지? 삼겹살과 김치의 완벽한 조화! 삼겹살 김치찌개 만드는법 </p>
								</li>
								<li><img src="../../core/static/core/img/pics10.jpg" width="80" height="80" alt="">
									<p>김치만 넣어도 맛있는 김치볶음밥 황금레시피. 이렇게 쉬워? </p>
								</li>
								<li><img src="../../core/static/core/img/pics11.jpg" width="80" height="80" alt="">
									<p>미세먼지 스트레스 한 방에 날려줄 촉촉하게 즐기는 에어프라이어 삼겹살 </p>
								</li>
							</ul>
						</section>
					</div>
					<div class="6u">
						<section>
							<header>
								<h2>강식당2 화제의 메뉴! 김치밥이 피오씁니다</h2>
							</header>
							<a href="https://www.youtube.com/watch?v=R6IT_f0XPT8" class="image full"><img src="../../core/static/core/img/pics12.jpg" alt=""></a>
							<p>이번에는 특별한 레시피를 공개합니다. 많은 분께서 요청해주신 강식당2에 나온 김치밥입니다. 쉽게 구할 수 있는 재료로 만든 김치볶음밥의 업그레이드 버전, 김치밥! 강식당2 속 그 메뉴, 직접 만들어보는 건 어떨까요?</p>
						</section>
					</div>
				</div>
			</div>
		</div>

		<div id="main">
			<div class="container">
				<div class="row">
					<div class="8u">
						<section>
							<header>
								<h2>Maecenas luctus lectus at sapien</h2>
							</header>
							<p>This is <strong>Autonomy</strong>, a responsive HTML5 site template freebie by <a href="http://templated.co">TEMPLATED</a>. Released for free under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so use it for whatever (personal or commercial) &ndash; just give us credit! Check out more of our stuff at <a href="http://templated.co">our site</a> or follow us on <a href="http://twitter.com/templatedco">Twitter</a>.</p>
							<p>Donec leo. Vivamus fermentum nibh in augue. Praesent a lacus at urna congue rutrum. Nulla enim eros, porttitor eu, tempus id, varius non, nibh. Duis enim nulla, luctus eu, dapibus lacinia, venenatis id, quam. Vestibulum imperdiet, magna nec eleifend rutrum, nunc lectus vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat. Vestibulum pellentesque, justo mollis pretium suscipit, justo nulla blandit libero, in blandit augue justo quis nisl. Fusce mattis viverra elit. Fusce quis tortor. Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend.</p>
							<p>Sed etiam vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat. Vestibulum pellentesque, justo mollis pretium suscipit, justo nulla blandit libero, in blandit augue justo quis nisl. Fusce mattis viverra elit. Fusce quis tortor. Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget lorem ipsum dolor.</p>
						</section>
					</div>
					<div class="4u">
						<section>
							<header>
								<h2>Lectus at sapien</h2>
							</header>
							<ul class="style">
								<li><a href="#">Pellentesque quis elit non gravida blandit.</a></li>
								<li><a href="#">Lorem ipsum dolor sit amet, adipiscing elit.</a></li>
								<li><a href="#">Phasellus nec erat sit pellentesque congue.</a></li>
								<li><a href="#">Cras vitae metus pellentesque pharetra.</a></li>
								<li><a href="#">Maecenas vitae orci vitae  feugiat eleifend.</a></li>
								<li><a href="#">Pellentesque quis elit non gravida blandit.</a></li>
								<li><a href="#">Lorem ipsum dolor sit amet, adipiscing elit.</a></li>
								<li><a href="#">Maecenas vitae orci  tellus feugiat eleifend.</a></li>
							</ul>
						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>

	</body>
</html>